@import "./variables";

html{
  background-color: $darkTeal;
}

.App {
  text-align: center;
}

.nav {
  margin: 0px;
  padding-top: 10px;
  background-color: $darkTeal;
  height: 100px;
  display: flex;
  flex-direction: left;
  align-items: left;
  justify-content: left;
  font-size: 15px;
  color: white;
}

.nav-link{
  margin-left: 10px;
}
